.navbar {
  background: rgb(37, 18, 82);
  height: 20vh;
  animation: colorswash 13s linear 50 alternate-reverse;
  display: flex;
  justify-content: center;
}

@keyframes colorswash {
  0% {
    background: rgb(15, 7, 34);
  }
  20% {
    background: rgb(26, 10, 67);
  }
  40% {
    background: rgb(53, 28, 114);
  }
  60% {
    background: rgb(45, 29, 80);
  }
  80% {
    background: rgb(21, 10, 43);
  }
  100% {
    background: rgb(28, 16, 58);
  }
}