.bodyContainer{
  height: 200vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.contentContainer {
  height: 100%;
  width: 80vw;
  border: 1px solid blue;
  display: flex;
}

.activeArticleContainer {
  height: 100%;
  width: 80%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.rightSideArticleListContainer {
  height: 100%;
  width: 20%;
  border: 1px solid green;
}