body {
  background: rgb(24,26,27);;
}

.bodyContainer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background: rgb(24,26,27);
  margin-bottom: 5rem;
 
}

.contentContainer {

  width: 75vw;
  
  /* border: 1.5px solid black; */
  border-radius: 5px;
  display: flex;
  display: block;
  /* height: auto; */
  padding: 5vh 1vw 5vw 3vw;
  box-shadow: .5px 1px rgb(72, 72, 72), 0px 0px 10px 0px rgb(72, 72, 72);
  color: white;
 
}

.activeArticleContainer {
  /* height: 100%; */
  width: 70%;
  /* border: 1px solid red; */
  height: 100%;
  display: inline-block;
  justify-content: center;
  
}

.rightSideArticleListContainer {
  /* height: 100%; */
  width: 30%;
  height: 100%;
  /* border: 1px solid green; */
  display: inline-block;
  flex-direction: column;
  float: right;
  /* position: absolute;
  top: 0;
  right: 0; */
}



.wrapperDiv {
  display: block;
  width: 100%;
  height: 100%;
}

@media(max-width: 950px) {
  .contentContainer {

    width: 95vw;
  
  }
}