.bodyContainer{
  height: 200vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  
}

.contentContainer {
  /* height: 100%; */
  width: 82vw;
  /* border: 1.5px solid black; */
  border-radius: 5px;
  display: flex;
  padding: 5vh 3vw;
  box-shadow: 3px 1px rgb(214, 211, 211), -1px 0 .4em rgb(218, 218, 211);
  
}

.activeArticleContainer {
  height: 100%;
  width: 70%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  
}

.rightSideArticleListContainer {
  height: 100%;
  width: 30%;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  
}