.SideDrawer {
  position: fixed;
  width: 120px;
  max-width: 70%;
  height: 70%;
  left: 0;
  top: 15%;
  z-index: 200;
  /* background-color: rgb(37, 18, 82); */
  background-color: rgb(53, 28, 114);
  border: 1px solid white;
  padding: 32px 16px;
  box-sizing: border-box;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 1s ease-out;
  cursor: pointer;
}

.hidden {
  display: none;
  opacity: 0;
}

/* @media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
} */

.Open {
  transform: translateX(0);

}

.Closed {
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.openSideDrawerIcons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.iconFooter {
  color: white;
  font-weight: bold;
  font-size: .8rem;
  display: flex;
  justify-content: center;
}

.iconFooter:hover {
  color: gray;
}
.contentItemChoice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;

}

.contentItemChoice:hover {
  color: gray;
  cursor: pointer;
}

.wrench {
  color: white;
}

.wrench:hover {
 cursor: pointer;
 color: gray;
}

@media(max-width: 460px) {
  /* .Closed {
    transform: translateX(-100%);
  } */

  .SideDrawer {
    height: 50px;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
   
  }

  .Closed {
    transform: translateX(-80%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .Open {
    height: 100px;
  
  }

.openSideDrawerIcons {
  flex-direction: row;
}
}