.sidePostListItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  /* padding: 5px 5px 5px 45px; */
  font-weight: bold;
  font-size: .9rem;
  /* color: rgb(58, 58, 58); */
  color: white;
  box-shadow: .8px 1px 3px rgb(104, 103, 103);
  border-radius: 5px;

  overflow: hidden;
}
.category {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: .75rem;
  margin-bottom: .25rem;
}

.sidePostListItem:hover {
  box-shadow: 3px 2px 8px rgb(104, 103, 103);
  cursor: pointer;
  color: lightblue;
}

.sidePostIcons {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  color: white;
}

.sidePostIcon {
  width: 100%;
  height: 33.333%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.iconData {
  margin-left: 5px;
}

.mobileScreenArticle {
  display: none;
}

@media(max-width: 660px) {
  .mobileScreenArticle {
    display: block;
    box-shadow: .8px 1px 3px rgb(104, 103, 103);
    border-radius: 5px;
    margin-top: 1rem;
  }
  .mobileScreenArticle:hover {
    box-shadow: 3px 2px 8px rgb(104, 103, 103);
    cursor: pointer;

  }
}